.navbar
{
   background-color:#000;

}
#logo1
{
    width:200px;
   
   
}
#head1
{
    font-family: Dosis, sans-serif;
    font-size:30px;
    color:#00bfff;
}
#head2
{
    font-family: Raleway, sans-serif;
    font-size:8px; 
}
li a 
{
    font-family: Raleway, sans-serif;
    color: white ;
    font-size:10px;
    padding: 60px 20px 30px 20px;
    margin: 15px 15px 15px 15px;
    
}
p
{
    font-family: Lato, sans-serif;
}
button
{
    background-color:#b30000;
    color:white;
    padding-bottom:40px;
}
div p
{
    padding :10px 50px 10px 50px;
    color:#666666;
    font-family: Raleway, sans-serif;
    font-size:13px;
    
}
.love
{
    padding : 50px 100px 20px 100px;
    
}
.pic
{
    width:500px;
    height :200px;
    border-width: 7px 7px 7px 7px;
    margin : 40px 400px 40px 40px;
    border-color: white;
    border-style: solid;
    
    
}
.love1
{
    padding: 50px 100px 50px 200px;
}
.cls
{
    color:white;
    font-size:15px;
}

.back
{
    background-color: black;
}
.paa
{
    color:#4286f4;
    padding:50px 50px 50px 50px;
}
.cont
{
    padding-top:40px;
    padding-right:30px;
    padding-bottom:40px;
    padding-left:100px;
}